<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>%%title%%</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
  <link href="css/site.css" rel="stylesheet">
</head>
<body>

<main class="main-container">

  %%header%%


  %%current_weather%%

  <div class="weather-by-hour">
    <h2 class="weather-by-hour__heading">Today's weather</h2>
    %%hour_weather%%
  </div>


  <div class="next-days">
    <h2 class="next-days__heading">Next 5 days</h2>
    %%days_weather%%
  </div>

</main>

</body>
</html>